<div class="<%= className %>">
  <div class="no-games">
    <% if (className === 'authored-games group') { %>
      You Haven't Made Any Games
    <% } else { %>
      You Don't Follow Any Games
    <% } %>
  </div>
</div>
