<div class="box-5">
 <img src=<%= game.escape('image_url') %>/>
</div>
<div class="box-6">
 <h4><%= game.escape('title') %></h4>
 by <%= game.escape('author_name') %>
 <%= game.escape('summary') %>

 <% if (game.get('active')) { %>
   Running
 <% } else { %>
   Dormant
 <% } %>
</div>
<div class="box-7"></div>
