<div class="backdrop">
  <div id="main">QUACK</div>
</div>
<script>$(document).ready(function(){
  QuestStarter.initialize()
});</script>

<!-- // <script>$(QuestStarter.initialize());</script> -->
 <!-- What's the back drop div about? The background image probs. -->
