<div class="backdrop">
  <div id="main">
    #main has not been replaced.
    You're in root now son!
    You shouldn't be seeing this!
  </div>
</div>
<script>$(document).ready(function(){
  QuestStarter.initialize()
});</script>

<!-- // <script>$(QuestStarter.initialize());</script> -->
 <!-- What's the back drop div about? The background image probs. -->
