<div class="backdrop">
  <div id="navbar"></div>

  <div id="main">
    #main has not been replaced.
    <br>
    You're in root now son!
    <br>
    You shouldn't be seeing this!
    <br>
  </div>
</div>
<script>
  $(document).ready(function(){
    QuestStarter.initialize();
  });
</script>

<!-- // <script>$(QuestStarter.initialize());</script> -->
 <!-- What's the back drop div about? The background image probs. -->
