<form action="<%= users_url %>" method="post" class="splash fix_top group">
  <%= auth_token_input %>

  <h2 class="splash-title row top-margin bottom-margin">Register</h2>

  <p class="display-login-errors">
    <%= render "layouts/errors" %>
  </p>

    <label class="login-row">
      <div class="width-auto">
        <div class="float-left">
          Username
        </div>

        <input type="text" name="user[name]" value="">
      </div>
    </label>

    <label class="login-row">
      <div class="width-auto">
        <div class="float-left">
          Password
        </div>

        <input type="password" name="user[password]" value="">
      </div>
    </label>

    <input class="login-row top-margin click" type="submit" value="Register">
</form>
