<h2><%= user.escape('name') %>'s Games</h2>

<br>

<div id="authored">
  You haven't authored any games!
  This text should always be replaced by a plus button.
  Go write that!
</div>

<br>

<div id="followed">
  You aren't following any games.
</div>
