<% if (QuestStarter.currentUser &&
   (  (QuestStarter.currentUser.id === comment.get('user_id'))
   || (QuestStarter.currentUser.id === comment.get('author_of_game'))
   )) { %>
  <div class="corner-button delete-button"> ✗ </div>
<% } %>

<div class="comment-author">
<%= comment.escape('poster_name') %>
<span class="posted-at">Posted on <%= comment.escape('created_at').slice(0,10) %></span>
</div>

<pre class="comment-body">
<%= comment.escape('text') %>
</pre>
