<h4>Comments</h4>
<br>
<div id="game-show-comments">
  <div id="game-show-old-comments">
    Looks like there aren't any comments yet! Why not leave the first?
  </div>

  <div id="game-show-new-comment">
    <form>
      <% if (!QuestStarter.currentUser) { %>
        <label>
          Your Name:
          <input type="text" value="" id="anon-name">
        </label>
        <br>
      <% } %>

      <label>
        Your Comment:
        <br>
        <textarea rows="4" cols="40" id="comment-body"></textarea>
      </label>
      <br>
      <div class="display-errors"></div>
      <div id="new-comment-submit">Post Comment</div>
    </form>
  </div>
</div>
