<div class="comment">
  <div class="update-title">Leave A Comment</div>
  <div class="line-break">-</div>

  <form class="comment-body">
    <% if (!QuestStarter.currentUser) { %>
      <input type="text" value="" id="anon-name" placeholder="Your Name">
      <div class="line-break">-</div>
    <% } %>

    <div contenteditable="true"
     id="comment-body"
     data-placeholder="Your Comment"></div>

  </form>

  <pre class="display-errors"></pre>
  <div class="corner-button new-button" id="comment-form-submit">Post Comment</div>

</div>

<div id="game-old-comments"></div>
