<h2 class="vertical-padding-50px">
  <div class="header-inside editing" contenteditable="true" id="title">
    <%= game.escape('title') %>
  </div>
</h2>

<div class="game-top-box group">
    <div class="game-image-container shadow">
        <img class="game-image" src="<%= game.escape('image_url') %>"/>
    </div>

    <div class="game-sidebar"></div>
</div>

<div class="game-nav description-box">
  <div id="description-title">Description</div>
  <div id="description" class="editing" contenteditable="true">
    <%= game.escape('description') %>
  </div>
</div>
