<div class="game-edit">
  <div class="form-el" id="explain">Just Click On Any Area To Change It</div>

  <h2 class="vertical-padding-50px" contenteditable="true" id="title">
      <% if (game.escape('title')) { %>
        <%= game.escape('title') %>
      <% } else { %>
        Click Here To Name Your Game
      <% } %>
  </h2>

  <p contenteditable="true" id="summary" class="form-el">
      <% if (game.escape('summary')) { %>
        <%= game.escape('summary') %>
      <% } else { %>
        Give it a summary! Something short and sweet to interest your players!
      <% } %>
  </p>

  <a class="form-el" id="cloudinary">Click Here To Upload An Image</a>

  <img class="form-el" id="current-image" src="<%= game.get('image_url') %>"/>

  <pre contenteditable="true" id="description" class="form-el">
  <% if (game.escape('description')) { %><%= game.escape('description') %><% } else { %>Give me all the details! When, what, where, everything your players need to know.<% } %></pre>

  <div class="display-errors"></div>

  <div class="submit form-el">Submit</div>
</div>
