<h2 class="game-header">
  <div class="header-inside">
    <%= game.escape('title') %>
  </div>
</h2>

<div class="game-top-box group">
    <div class="game-image-container">
      <img class="game-image" src="<%= game.escape('image_url') %>"/>
    </div>

    <div class="game-sidebar"></div>
</div>

<ul class="game-nav">
  <li class="nav-option" name='updates'>Updates</li>
  <li class="nav-option selected" name='description'>Description</li>
  <li class="nav-option" name='comments'>Comments</li>
  <!-- <li class="nav-option" name='surveys'>Surveys</li> -->
</ul>

<div class="game-tab"></div>
