<h2 class="vertical-padding-50px">
  <pre class="header-inside">
    <%= game.escape('title') %>
  </pre>
</h2>

<div class="game-top-box group">
    <div class="game-image-container">
      <img class="game-image" src="<%= game.escape('image_url') %>"/>
    </div>

    <pre class="game-sidebar"></pre>
</div>

<ul class="game-nav group">
  <li class="nav-option nav-option-left unselected" name='updates'>Updates</li>
  <li class="nav-option nav-option-center unselected" name='description'>Description</li>
  <li class="nav-option nav-option-right unselected" name='comments'>Comments</li>
</ul>

<div class="game-tab"></div>
