<% if(QuestStarter.currentUser && QuestStarter.currentUser.id === authorId) {%>
  <div class="update">
    <div contenteditable="true"
    class="update-title"
    id="update-title"
    data-placeholder="Your Update's Title"></div>

    <div contenteditable="true"
    class="update-text"
    id="update-text"
    data-placeholder="What's new pussycat?"></div>

    <div class="display-errors"></div>
    <div class="update-title" id="update-form-submit">Post Update</div>
  </div>
<% } else if (numberOfUpdates === 0) {%>
  <div class="game-tab-text-box">
    <p>All clear Captain! There are no updates to worry about.</p>
  </div>
<% } %>

<div id="game-updates"></div>
