<div class="">
  <% if(QuestStarter.currentUser && QuestStarter.currentUser.id == update.get('user_id')) {%>
    <div class="corner-button delete-button"> ✗ </div>
    <div class="corner-button edit-button"> Edit </div>
  <% } %>

  <pre class="update-title"><%= update.escape('title') %></pre>
</div>

<div class="update-spacing">
  <div class="mini-line-break left">----- tiny text ----</div>
  <div class="date left"><%= update.escape('created_at').slice(0,10) %></div>
  <div class="mini-line-break left">----- tiny text ----</div>
  <br style="clear: left;" />
</div>

<pre class="update-text"><%= update.escape('text') %></pre>
