<h4>Updates</h4>
<br>
<div id="game-show-updates">Looks like there aren't any updates yet!</div>

<% if(QuestStarter.currentUser && QuestStarter.currentUser.id == authorId) {%>
  <br>
  <form id="game-show-new-update">
    <label>Title
      <input type="text" value="" id="update-title">
    </label>

    <br>
    <textarea rows="4" cols="40" id="update-text">What's going on?</textarea>

    <br>
    <div class="display-errors"></div>
    <div id="new-update-submit">Post Update</div>
  </form>
<% } %>
