<% if(QuestStarter.currentUser && QuestStarter.currentUser.id == authorId) {%>
  <div class="update">
    <div class="update-title">Write An Update!</div>

    <form class="update-text">
      <div contenteditable="true"
       id="update-title"
       data-placeholder="Update Title"></div>

      <div contenteditable="true"
       id="update-text"
       data-placeholder="Update Text"></div>
    </form>

    <div class="display-errors"></div>
    <div class="update-title" id="update-form-submit">Post Update</div>
  </div>
<% } %>

<div id="game-updates"></div>
