<form>
  <div class="edit-update corner-button edit-color">Finish Editing</div>

<div contenteditable="true"
class="<%= "update-title " + indexClass + "-title"%>">
<%= update.escape('title') %></div>

<div contenteditable="true"
class="<%= "update-text " + indexClass + "-text"%>">
<%= update.escape('text') %></div>

  <div class="display-errors"></div>
</form>
