<div class="game-show-header">
  <h4>
    <%= game.escape('title') %>
  </h4>

  <p>
    by <a href="<%= '#/users/' + game.get('author_id') %>"><%= game.get('author_name') %></a>
  </p>
</div>

<div class="game-show-image">
  <img src="<%= game.escape('image_url') %>", width="400px", height="300px"/>
</div>

<div class="game-show-sidebar">

</div>

<ul class="game-show-nav">
  <li class="nav-option" name='description'>Description</li>
  <li class="nav-option" name='updates'>Updates</li>
  <li class="nav-option" name='comments'>Comments</li>
  <li class="nav-option" name='surveys'>Surveys</li>
</ul>

<hr>

<div class="game-show-tab"></div>
