<div class="game-show-header">
  <h4>
    <%= game.escape('title') %>
  </h4>

  <p>
    by <a href="<%= '#/users/' + game.get('author_id') %>"><%= game.get('author_name') %></a>
  </p>
</div>

<div class="game-show-image">
  <img src="<%= game.escape('image_url') %>", width="200px", height="100px"/>
</div>

<div class="game-show-sidebar">

</div>

<ul class="game-show-nav">
  <li>Description</li>
  <li>Updates</li>
  <li>Comments</li>
  <li>Surveys</li>
</ul>

<hr>

<div id="game-show-view"></div>
