$light_tan: #fffbcc;
$dark_tan: #7d7736;
$light_grey: #a38f8f;
$dark_grey: #463939;
$light_green: #52d411;
$dark_green: #2a8000;
$light_cyan: #11d4d4;
$dark_cyan: #007f80;
$light_purple: #d41173;
$dark_purple: #800040;

.comment, .update {
  margin: 30px;
  font-size: 18px;
  overflow: hidden;
  border-radius: 20px;
  background: white;
  padding: 25px;
}

.comment-author, #comment-form-submit {
  color: white;
  background-color: $light_grey;
  padding: 7px 15px;
  display: block;
}

.posted-at {
  padding-left: 20px;
  font-size: 12px;
  //text-align: right;
  //okay so I will need to make this it's own element.
}

.corner-button {
  float: right;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

.delete-button {
  background-color: $dark_purple;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align:center;
}
.delete-button:hover { background-color: $light_purple; }
.edit-button {
  background-color: $dark_green;
  margin-right: 7px;
  padding: 9px 18px;
}
.edit-button:hover { background-color: $light_green; }

.comment-body, .update-text { color: $dark_grey; }

.update-title {
  color: $dark_grey;
  font-size: 32px;
  display: block;
}

.update-br {
  color: $light_grey;
  background-color: $light_grey;
  font-size: 15px;
  border-radius: 3px;
  margin: 15px 0px;
}

.update-date {
  color: $light_grey;
  font-size: 15px;
  margin-right: 5px;
  float: right;
}

#anon-name, #comment-body {
  width: 100%;
}

.display-errors {
  background-color: $dark_purple;
  padding: 0px 15px;
  color: white;
  text-align: right;
}

#comment-form-submit, #update-form-submit, .submit {
  text-align: right;
  cursor: pointer;
}

#comment-form-submit:hover, #update-form-submit:hover, .submit:hover {
  background-color: $light_green;
}
