$light_tan: #fffbcc;
$dark_tan: #7d7736;
$light_grey: #a38f8f;
$dark_grey: #463939;
$light_green: #52d411;
$dark_green: #2a8000;
$light_cyan: #11d4d4;
$dark_cyan: #007f80;
$light_purple: #d41173;
$dark_purple: #800040;

.game-edit {
  padding: 100px 0px 300px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 66%;
  font-size: 20px;
}

.editing, .editing-description { color: rgb(175, 175, 175); }
.editing:focus { color: white;}
.editing-description:focus { color: $dark_grey;}

.save {
  background-color: $dark_green;
  // border-bottom-right-radius: 20px;
 }

.save:hover { background-color: $light_green; }

.description-box {
  width: 33.33%;
  background-color: $light_cyan;
  width: 66.66%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

#description-title {
  text-align: center;
  font-size: 30px;
  padding: 20px 0px;
  width: 33.33vw;
  margin-left: auto;
  margin-right: auto;
  background-color: $dark_cyan;
}

.outer {
  position: relative;
}

.outer > .overlay {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.5;
  top: 0;
}

.outer .overlay-text {
  opacity: 1;

}

.overlay {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  position: absolute;
  width: 100%;
  height: 100%;
  background: none;
    opacity: 0;
    top: 0;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    font-size: 30px;
    opacity: 0;
}
