$light_tan: #fffbcc;
$dark_tan: #7d7736;
$light_grey: #a38f8f;
$dark_grey: #463939;
$light_green: #52d411;
$dark_green: #2a8000;
$light_cyan: #11d4d4;
$dark_cyan: #007f80;
$light_purple: #d41173;
$dark_purple: #800040;

.game-edit {
  padding: 100px 0px 300px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 66%;
  font-size: 20px;
}

.editing {
  color: rgb(175, 175, 175);
}

.editing:focus {
  color: white;
}

.save {
  background-color: $dark_green;
  border-bottom-right-radius: 17px;
 }

.save:hover { background-color: $light_green; }

.description-box {
  width: 33.33%;
  // padding: 50px;
  background-color: $light_cyan;
  width: 66.66%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 17px;
}

#description-title {
  text-align: center;
  font-size: 30px;
  padding: 20px 0px;
  width: 33.33vw;
  margin-left: auto;
  margin-right: auto;
  background-color: $dark_cyan;
}

#description {
  font-size: 24px;
  margin-bottom: 100px;
  padding: 80px 50px 50px;
  background-color: $dark_cyan;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
}

// #explain {
//     background-color: $light_grey;
// }
//
// #title, #description {
//   background-color: $dark_cyan;
// }
//
// .form-el {
//   padding: 20px;
// }
//
// #summary {
//   background-color: $light_cyan;
// }
//
// #cloudinary {
//   background-color: $dark_cyan;
//   display: block;
//   cursor: pointer;
// }
//
// #current-image {
//   background-color: $light_cyan;
//   min-height: 60px;
//   max-width: 100%;
//   box-sizing: border-box;
// }
//
// .submit {
//   background-color: $light_grey;
// }
