$light_tan: #fffbcc;
$dark_tan: #7d7736;
$light_grey: #a38f8f;
$dark_grey: #463939;
$light_green: #52d411;
$dark_green: #2a8000;
$light_cyan: #11d4d4;
$dark_cyan: #007f80;
$light_purple: #d41173;
$dark_purple: #800040;

nav {
  position: fixed;
  width: 100%;
  background-color: $dark_purple;
  font-size: 24px;
  z-index: 2;
  height: 61px;
  // font: something nice
  // and not on the rest of my site?
  padding: 0px 50px;
  box-sizing: border-box;
  transition:all 0.3s;
  -webkit-transition:all 0.3s;
  -moz-transition: all 0.3s;
}

nav a {
  float: left;
  padding: 15px;
  cursor: pointer;
  // liked it better as tan
}

nav a:hover {
  background-color: $light_purple;
}

.dropdown-link {
  display: none;
  background-color: $dark_purple;
  width: 100%;
  box-sizing: border-box;
}

.dropdown-link-last {
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
}

.navbar-right {
 float: right;
}

nav input {
  // still thinking make this smaller
  padding: 5px 15px;
  margin: 10px;
  float: left;
  background-color: white;
  color: $dark_tan;
  // Not Sure About These Colors
  border-radius: 17px;
}

.dropdown > a:hover {
  background-color: $dark_purple;
}

nav .dropdown {
  float: left;
  min-width: 161px
}

.dropdown:hover a {
  display: block;
}

nav ul:hover a {
  display: block;
}
