$light_tan: #fffbcc;
$dark_tan: #7d7736;
$light_grey: #a38f8f;
$dark_grey: #463939;
$light_green: #52d411;
$dark_green: #2a8000;
$light_cyan: #11d4d4;
$dark_cyan: #007f80;
$light_purple: #d41173;
$dark_purple: #800040;

// HUES     Grey: 0, Tan: 55, Cyan: 180, Green: 100, Purple: 330
// LIGHT    85 45
// DARK     100 25

html, body, header, nav, a, ul, li,
strong, main, button, i, section, img,
div, p, form, fieldset, label, span,
article, footer, time, small, pre, figure,
input, textarea, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  font-family: 'Oxygen', sans-serif;
  transition:all 0.7s;
  -webkit-transition:all 0.7s;
  -moz-transition: all 0.7s;
}

textarea {
    resize: none;
}

input {
  background-color: white;
  color: black;
}

pre {
  white-space: pre-wrap;
}

h2 {
  text-align: center;
  font-size: 60px;
  clear: both;
  padding: 10px;
}

.round-edges {
  border-radius: 20px;
}

body {
  position: relative;
  top: 61px;
  background-color: $light_tan;
  color: white;
}

ul {
  list-style: none;
}

img {
  display: block;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
  color: white;
}

/* Clearfix */

.group:after {
  content: "";
  display: block;
  clear: both;
}

// Test to see if :not(:focus) fucks everything up.
// It doesn't seem to work, at least.
*[data-placeholder]:not(:focus):not([data-div-placeholder-content]):before {
  content: attr(data-placeholder);
  float: left;
  margin-left: 2px;
  color: #b3b3b3;
}

#main {
  background-image: url("http://res.cloudinary.com/dar1oti2e/image/upload/v1434736050/q1js4ppy1ih6sfthkezk.jpg");
  background-size: cover;
  top: -61px;
  min-height: 100vh;
  position: absolute;
  right: 0;
  left: 0;
}

.static-page-background {
  background-image: url("http://res.cloudinary.com/dar1oti2e/image/upload/v1434736050/q1js4ppy1ih6sfthkezk.jpg");
  background-size: cover;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
