$tan: #FFFBD8;
$light_green: #A5AB85;
$green: #73844D;
$dark_tan: #5D5C4F;
$dark_grey: #4E4E4E;
$other_grey: #636363;
$light_purple: #D51079;
$dark_purple: #5D3148;
$darker_purple: #432434;
$dark_cyan: #016B79;
$light_cyan: #48D7E8;

html, body, header, nav, a, ul, li,
strong, main, button, i, section, img,
div, p, form, fieldset, label, span,
article, footer, time, small, pre,
input, textarea, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: $dark_grey;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  font-family: 'Oxygen', sans-serif;
}

body {
  position: relative;
  top: 61px;
  background-color: $tan;
}

ul {
  list-style: none;
}

img {
  display: block;
  // width: 100%;
  // height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

/* Clearfix */

.group:after {
  content: "";
  display: block;
  clear: both;
}

.fuckoff {
  font-size: 80px;
}
