$tan: #FFFBD8;
$light_green: #A5AB85;
$green: #73844D;
$dark_tan: #5D5C4F;
$dark_grey: #4E4E4E;
$other_grey: #636363;
$light_purple: #D51079;
$dark_purple: #5D3148;
$darker_purple: #432434;
$dark_cyan: #016B79;
$light_cyan: #48D7E8;

// you replace the margins with percents
// and boom, it becomes responsive

h2 {
  text-align: center;
  font-size: 60px;
  padding: 100px;
}

// h3 {
//   padding: 20px;
//   font-size: 40px;
// }

#main {}

#all-authored-games, #all-followed-games {
  background-color: $light_green;
  margin: 0px 50px 100px;
}

.user-mini-show {
  float: left;
  margin: 0px 20px 20px;
  background-color: $green;
  border-radius: 17px;
  height: 330px;
  width: 220px;

}
//figure
