$light_tan: #fffbcc;
$dark_tan: #7d7736;
$light_grey: #a38f8f;
$dark_grey: #463939;
$light_green: #52d411;
$dark_green: #2a8000;
$light_cyan: #11d4d4;
$dark_cyan: #007f80;
$light_purple: #d41173;
$dark_purple: #800040;

div.followed-games, div.authored-games, div.all-games {
  background-image: url("http://res.cloudinary.com/dar1oti2e/image/upload/v1435786595/dxbk9lhcaltkvs8acuu0.png");
  background-size: 100%;
  height: auto;
  margin: 90px;
  border-radius: 20px;
  overflow: hidden;
}

.heading {
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
  margin-bottom: 90px;
  padding: 5px;
  width: 66.66%;
  border-radius: 20px;
  background: rgba(0, 127, 128, 0.75);
  margin-top: 90px;
}

.pretty-background {
  background-image: url("http://res.cloudinary.com/dar1oti2e/image/upload/v1447597492/nrfbldv73glehedz7hfd.jpg");
  border-radius: 20px;
}

.no-games {
  text-align: center;
  font-size: 45px;
  padding: 30px;
  background: rgba(212, 17, 115, 0.65);
}

.push-down {
  margin-top: 151px;
}

.box {
  height: 0;
  width: 16.66666%;
  padding-bottom: 16.66666%;
  float: left;
  overflow: hidden;
  position: relative;
}

.odd-square { background-color: $light_cyan }
.mini-show:hover > .odd-square { background-color: $light_purple;}
.even-square { background-color: $dark_cyan }
.mini-show:hover > .even-square { background-color: $dark_purple; }

p, h4, .mini-show-image, author-link {
  position: relative;  transition:all 0.0s;
  -webkit-transition:all 0.0s;
  -moz-transition: all 0.0s;
}

.mini-show-image {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  height: 16.66vw;
}

.mini-show-title {
  padding: 15px 5px 0px;
  font-size: 1.5vw;
  text-align: center;
}

.mini-show-byline {
  padding: 5px;
  font-size: 1vw;
  text-align: right;
}

.author-link:hover {
  text-decoration: underline;
}

.mini-show-body {
  padding: 20px 10px 0px;
  font-size: 1vw;
}

.mini-show-status {
  font-size: 1.5vw;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.running {
  background-color: $light_green;
}

.dormant {
  background-color: $dark_grey;
}
