<div class="splash-container">
  <h1 class="row splash-title">Welcome to Quest Starter!</h1>
  <div class="secret">You found a secret!</div>
  <div class="row click group"><div class="button first">Make A Game</div></div>
  <div class="row click group"><div class="button second">See Your Games</div></div>
  <div class="row click group"><div class="button third">Login As A Guest</div></div>
  <form></form>
  <div class="row click group"><div class="button fourth">Find Out How It Works</div></div>
  <div class="row how-to hidden">
    Quest Starter is an app to make sharing your RPG campaign ideas easier! Just click 'See Your Games' to see all the games you've created and all the games you are following. Or click 'Make A Game' to share your game idea with the world!</div>
</div>
