<div class="splash-container">
  <h1 class="row splash-title">Welcome to Quest Starter!</h1>
  <div class="secret">You found a secret!</div>
  <div class="row group"><div class="button first">Make A Game</div></div>
  <div class="row group"><div class="button second">Find A Game</div></div>
  <div class="row group"><div class="button third">See Your Games</div></div>
  <div class="row group"><div class="button fourth">Find Out How It Works</div></div>
  <div class="row hidden">???</div>
</div>
