<h1>
  Welcome to Quest Starter!
</h1>

<div class="all-buttons">
  <% if(QuestStarter.currentUser) { %>
    <a class="big-button" href="#games/new">Make A Game</a><a class="big-button" href="#fuckoff">Find A Game</a>
  <% } else { %>
    <a class="big-button" href="#">Find Out How It Works!</a>
  <% } %>
</div>
