<div class="splash-container">
  <h1 class="row splash-title">Welcome to Quest Starter!</h1>
  <div class="secret">You found a secret!</div>
  <div class="row click group"><div class="button first">Make A Game</div></div>
  <div class="row click group"><div class="button second">Find A Game</div></div>
  <div class="row click group"><div class="button third">See Your Games</div></div>
  <div class="row click group"><div class="button fourth">Find Out How It Works</div></div>
  <div class="row hidden"><div class="how-to">
    aaaaaaaaaaaaaaaaaaaaaaaaaaaa
    aaaaaaaaaaaaaaaaaaaaaaaaaaaa
    1234567890123456789012345678
    9012345678901234567890123456
    7890123456789012345678901234
    5678901234567890123456789012
    3456789012345678901234567891
    2345678901234567890123456789
    0123456789012345678901234567
    8901234567890123456789012345
    6789012345678901234567890123
    4567890123456789012345678901
    2345678901234567890123456789
    0123456789012345678901234567</div></div>
</div>
